.grid {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.row {
  flex: 1 1 auto;
}

.clock {
  font-size: 3rem;
  
  @media (min-width: 540px) {
    font-size: 5rem;
  }

  span {
    font-size: 2rem;
    color: var(--ion-color-medium);
  }
}

p {
  margin: 0;
}
